<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <title>Index</title>
</head>
<body>
    <div>
        <form action='/hello' method="GET">
            <button class="button" type="submit">HELLO</button>
        </form>
        <form action="/form" method="GET">
            <button class="button" type="submit">FORM</button>
        </form>
        <form>
            
        </form>
    </div>
</body>
</html>