<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <title>Form</title>
</head>
<body>
    <form action="/form" method="POST">
        <label>Imię</label><input type="text" name="name"><br>
        <label>Nazwisko</label><input type="text" name="surname"><br>
        <label>Miejscowość</label><input type="text" name="city"><br>
        <button type="submit">Wyślij</button>
    </form>
</body>
</html>