<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <title>Form</title>
</head>
<body>
    <div id="table">
        <div id="center">
            <h1>Zadania</h1>

            <div class="tabs">
                <div class="tabs">
                    <a class="tab" aria-selected="false" role="tab" href="/">Do zrobienia</a>
                    <a class="tab" aria-selected="true" role="tab" href="/done">Zrobione</a>
                </div>
            </div>
            
            <form action="/clearDone?_method=DELETE" method="POST">
                <button type="submit" id="clearButton">Wyczyść</button>
            </form><br>

            <ul>
                <% var iter = 1 %>
                <% tasks.forEach(function (task){ %>
                    <li>
                            <label id="lined"><%= iter + '. ' + task.Text%></label>
                    </li>
                    <% iter++ %>
                <% }) %>
            </ul>

            
        </div>
    </div>
</body>
</html>